<div class="space-y-5 mb-5 bg-white rounded-lg shadow-sm">

    <!-- المعاينة -->
    <div *ngIf="previewUrl" class="w-full h-48 overflow-hidden rounded-md border border-gray-300">
        <img [src]="previewUrl" alt="Preview" class="w-full h-full object-cover" />
    </div>

    <!-- اختيار صورة -->
    <label class="block w-full text-center cursor-pointer border border-dashed
         border-gray-400 rounded-lg px-4 py-3 text-gray-600
          hover:bg-gray-50 transition duration-200 ease-in-out">
        <span class="block text-sm font-medium">Click or drag to upload an image</span>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" class="hidden" />
    </label>

    <!-- تحميل -->
    <div *ngIf="uploading" class="text-sm text-blue-500 font-medium animate-pulse">Uploading...</div>
</div>